<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyun.mapper.StudentMapper">

    <delete id="deleteStudent">
        delete from student where sid in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectALLdt" resultType="com.baiyun.entity.Student">
        select * from student
        <where>
            <if test="gid != null">
                gid = #{gid}
            </if>
            <if test="cid != null">
                cid = #{cid}
            </if>
        </where>
        limit #{page},#{rows}
    </select>
</mapper>